header {
  .conteiner-navbar {
    background-color: #313131;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .navbar {
      nav {
        a {
          color: #fffcf1;
          margin: 10px;
          font-size: 16px;
          font-family: "roboto", sans-serif;

          &:hover {
            color: orangered;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    .conteiner-navbar {
      background-color: #313131;
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 30px 0px black;

      .navbar {
        nav {
          a {
            color: #fffcf1;
            margin: 15px;
            padding: 10px;
            font-size: 16px;
            font-family: "roboto", sans-serif;
            background-image: linear-gradient(90deg, #ffa362, #ffb804, #e37c22);
            // background-image: linear-gradient(90deg, #62aeff, #ff0468, #af4ffe);
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            background-position: left bottom;
            transition: background-size 600ms ease-in-out;

            &:hover {
              color: #ec6f09;
              transition-duration: 0.3s;
              background-size: 100% 2px;
            }
          }
        }
      }
    }
  }
}
