@import "navbar";
@import "inicio";
@import "footer";
* {
  margin: 0px;
  padding: 0px;
}

a {
  color: white;
  text-decoration: none;
}

// html{
//   scroll-behavior: smooth;
// }



body::-webkit-scrollbar{
  width: 7px;
  background-color: whitesmoke;
  
}

body::-webkit-scrollbar-thumb{
  background-color: #212121;
  height: 50px;
  // border-radius: 10px;
  
  
}